/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
!/storage/logs/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitignore
!/storage/framework/views/.gitkeep
/bootstrap/cache/*.php
/database/*.sqlite*
/storage/app/public/resume/CV_Angela_Vania_Sugiyono.pdf
/.phpunit.cache/
/.phpunit.result.cache
/tests/browser-output/
/.sites-runtime/
